<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="LogDirectory" value="D:\DEBUG\" />
    <add key="DateFormat" value="yyyy/MM/dd HH:mm:ss"/>
    <add key="ApiUrl" value="http://poetempest.com/api/vote"/>
  </appSettings>
</configuration>